/* AdminLogin.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

form {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

form lable {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333333;
    text-align: left;
    font-weight: 600;
}
#dacc{
    color: red;
    margin-top: 5%;
}
#login-topic{
    position: absolute;
    top:40%;
    left: 47%;
}
form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: all 0.3s ease;
}

form input[type="text"]:focus {
    background-color: #ffffff;
    border-color: #007BFF;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

form a {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    transition: color 0.3s ease;
}

form a:hover {
    color: #0056b3;
}
