/* profile.css */

.user-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
  margin-bottom: 1%;
}

.user-profile-name {
  font-size: 29px;
  font-weight: 900;
  
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin-left: 8%;
}

.user-profile img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  cursor: pointer;
  border: 3px solid #ddd;
}

.user-profile input[type='text'],
.user-profile input[type='email'],
.user-profile input[type='password'] {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #ddd;

  background-color: #fff;
}

.user-profile input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.user-profile button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
  
}

.user-profile button:hover {
  background-color: #0056b3;
}

.user-profile .user-profile-delete-button,
.user-profile .user-profile-signout-button {
  display: inline-block;
  padding: 8px;
  margin: 1%;
  margin-top: 8%;
  font-size: 14px;
  color: #fff;
  background-color: #dc3545;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.user-profile .user-profile-signout-button {
  background-color: #d6d6d6;
  color: black;

 
}

.user-profile .user-profile-delete-button:hover {
  background-color: #c82333;
}

.user-profile .user-profile-signout-button:hover {
  background-color: #5a6268;
}

.user-profile-errors-button,
.user-profile-update-success-button {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #28a745;
}

.user-profile-errors-button {
  color: #dc3545;
}

#flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#navigate-button-addshedule,
#my-details-button,
#all-task-button {

  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  margin: 1%;
  transition: background-color 0.3s;
}

#navigate-button-addshedule:hover,
#my-details-button:hover,
#all-task-button:hover {
  background-color: #0056b3;
}
